[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "bin/arcanist"]
	path = bin/arcanist
	url = https://gitlab.sd.apple.com/hwte-build-engineering/arcanist.git
